repos:
-   repo: https://gitlab.com/vojko.pribudic.foss/pre-commit-update
    rev: v0.9.0
    hooks:
    -   id: pre-commit-update
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-added-large-files
    -   id: check-merge-conflict
    -   id: debug-statements
    -   id: check-toml
    -   id: check-case-conflict
-   repo: https://github.com/commitizen-tools/commitizen
    rev: v4.13.3
    hooks:
    -   id: commitizen
        stages: [commit-msg]
-   repo: https://github.com/python-poetry/poetry
    rev: 2.3.2
    hooks:
    -   id: poetry-check
    -   id: poetry-lock
-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.0
    hooks:
    -   id: ruff-check
        args: [--fix]
    -   id: ruff-format
